.jogo div {
    padding: 30px;
    margin: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 160px;
    border-radius: 0px 30px 0px 30px; 
}

.jogo {
    align-items: center;
    margin: 10px;
    top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    background-color: #3A3A3A;

}

.jogo .card img{
    width:100px; 
    height:100px;
    border-radius: 30px 30px 30px 30px;
}

.jogo .card, .jogo .virado{
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform .5s;
} 

.jogo .card{
    background-color:#C4C4C4;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
} 


.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
  }

/* novas */

.jogo {
    /* width: calc(25% - 10px);
    height: calc(33.333% - 10px); */
    margin: 5px;
    /* position: relative; */
    
  }
  
  .frente,
  .verso {
    width: 100px;
    height: 100px;
    padding: 20px;
    position: absolute;
    /* border-radius: 5px; */
    background: #C4C4C4;
    backface-visibility: hidden;
    
  }

  .frente {
    transform: rotateY(180deg);
  }