*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #000000;
}

header nav a{
    width: 20px;
    height: 20px;
    /* padding: 20px; */
    margin-right: 24px;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    text-decoration: none;
    color:white;  

}

header h1 {
    margin-left: 24px;
    font-size: 35px;
    line-height: 42px;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 24px;
}
body{
    background-color: #3A3A3A;
    justify-items: center;
}

footer {
    background-color: black;
    text-align: center;
    color: #C4C4C4;
    margin-bottom: auto;
}
footer ul{
    margin: 24px;
    display: inline-block;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}

footer ul h3{
    text-decoration: none;
    color: #C4C4C4;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

footer ul img {
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
}

footer ul a img:hover {
    background-color: teal;
}



.corpo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#esq {  
    background-color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#esq h2 {

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin-top: 24px;

}

#esq a {

    width: min-content;
    height: min-content;
    text-decoration: none;
    color: rgb(50, 50, 50);
    padding: 10px 20px;
    border-radius: 50px;
    border: 3px solid rgb(50, 50, 50);
    margin-bottom: 20vh;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 18px;
    
}

#esq a:hover {
    background-color: rgb(50, 50, 50);
    color: white;
}

#esq span {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 18px;
}

#btn-mudartema, #btn-reiniciar {
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}

#responsivo {
    display: none;
}