@media (max-width: 900px){

    .jogo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

    .corpo {
        justify-content: center;
    }

    footer {
        height: auto;
    }

    #dir {
        display: none;
    }
}

@media (max-width: 700px) {

    #esq {
        display: none;
    }

    #responsivo {
        display: flex;
        background-color: azure;
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
        text-align: center;
    }

    #responsivo span {
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 30px;
        background-color: black;
        color: azure;
        font-size: 12px;
    }

    #responsivo h2 {
        margin: 5px;
        margin-left: 24px;
    }

    .jogo {
        margin: 0px 10vw 0px 10vw;
    }

    .jogo .card {
        width: 27vw;
        height: 17vh;
   
   }
   

}

@media (max-width: 550px) {

    header nav a {

        display: none;

    }

    .jogo .card {
         width: 27vw;
         height: 16vh;
    
    }

    .jogo .card img {
        width:80px; 
        height:80px;
    }

}

@media (min-height: 760px) {

    .jogo .card {
        height: 25vh;
    }
    
    .jogo .card img {
        width:150px; 
        height:150px;
    }
    
}